body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

/*убираем стили по умолчанию*/

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

a{
    text-decoration: none;
    color: inherit;
}
ul, ol{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}
img{
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*section header*/
.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
/*.section{
    padding-top: 120px;
    padding-bottom: 120px;
}*/
.header-container{
    display: flex;
    align-items: center;
}
.header-border{
    border-bottom: 1px solid #e7e9fc;
}

.page-nav {
    display: flex;
    align-items: center;
}


.logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-part {
    color: #2e2f42;
}
.nav-list{
    display: flex;
    gap: 40px;
}


.nav-link {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current{
    position: relative;
    color: #404BBF;

}
.current::after{
    content:"";
    background-color: #404BBF;
    border-radius: 2px;
    height: 4px;
    width:100%;
    position: absolute;
    left: 0;
    bottom: -1px;
}


.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    color: #404BBF;

}

.adress {
    font-style: normal;
    margin-left: auto;
}
.adress-list{
    display: flex;
    gap: 40px;
}

.adress-link {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-link:hover,
.adress-link:focus {
    color: #404BBF;
}

/*section effective solution*/

.title-effective-solutions{
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
}



.effective-solutions{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0;
    background-color: #2E2F42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
     ),url("../images/bg.hero/bg.jpg");
    background-size: cover;
}


.btn{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background-color: #4d5ae5;
        border: none;
        border-radius: 4px;
        min-width: 169px;
        height: 56px;
        padding-left: 20px;
        padding-right: 20px ;
        display: block;
        margin-left: auto;
        margin-right: auto;


}



.btn:hover,
.btn:focus {
    background-color: #404BBF;
}

/* section benefits*/
.benefits-list{
    display: flex;
    
    gap: 24px;
}

.benefits-list-item {

    width: calc((100% - 72px) / 4);
}
.benefits-list-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        margin-bottom: 8px;


}

.benefits-icon {
    display: flex;
    

}




.benefits-list-title {

        margin-bottom: 8px;

        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.benefits-list-text{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/*section our teams*/
.team {
    background-color: #F4F4FD;
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    
    
}

.team-list-item {
    background-color: #ffffff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
   
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
}



.team-fullname-job{
    padding: 32px 0;
}

.team-fullname {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: center;
        margin-bottom: 8px;
}

.team-job-position {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align:center;
    margin-bottom: 8px;
     
}

.social-list{
    display: flex;
    justify-content: center;
    column-gap: 24px;
    

}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
   
}

/*section our portfolio*/
.portfolio-title{

        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;

}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;

}

.portfolio-list-item {
    
   
    width: calc((100% - 48px) / 3);

}

.project-name-text{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.project-name{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
       
}

.project-text{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
       

}
.portfolio-list-overlay{
    
    position: relative;
    overflow: hidden;
}
.portfolio-item-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #4D5AE5;
    color: #F4F4FD;
    transform: translateY(150%);
    transition: transform 250ms linear;
    padding: 40px 32px;
}
.portfolio-text-overlay{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}
.portfolio-list-overlay:hover .portfolio-item-overlay{
    transform: translateY(0%);
}
/*section footer*/

.footer-container-logo{
    
    margin-right: 120px;
}
.footer-container{
    display: flex;
    
    

}
.logo-footer{
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;
}

.logo-part-footer{
    line-height: 1.17;
    color: #f4f4fd;

}
.section-footer-logo{
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;

}

.footer-text{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        width: 264px;
        

}

.socialmedia-title{
        
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.socialmedia-list {
    display: flex;
    justify-content: center;
    column-gap: 16px;


}

.socialmedia-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;

}

.socialmedia-list-link:hover,
.socialmedia-list-link:focus {
    background-color: #31d0aa;
}